<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Ejemplo autos</title>
  </head>
  <body>
      <form action="/" method="POST">
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" value="Name" required>
              </div>
              <div class="form-group col-md-6">
                  <label for="manufacturer">Car Manufacturer</label>
                  <select class="form-control" id="manufacturer" name="manufacturer" required>
                      <option>VW</option>
                      <option>Porsche</option>
                      <option>BMW</option>
                      <option>Audi</option>
                  </select>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="birth">Age</label>
                  <input type="number" class="form-control" id="age" name="age" value="25" required>
              </div>
              <div class="form-group col-md-6">
                  <label for="manufacturer">Car Type</label>
                  <select class="form-control" id="cartype" name="cartype" required>
                      <option data-manufacturer="VW">Golf IV</option>
                      <option data-manufacturer="Porsche">911</option>
                      <option data-manufacturer="BMW">X3</option>
                      <option data-manufacturer="Audi">A6</option>
                      <option data-manufacturer="Audi">A8</option>
                  </select>
              </div>
          </div>
          <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="Email" required>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="sex">Sex</label>
                  <select class="form-control" id="sex" name="sex">
                      <option>Other</option>
                      <option>Female</option>
                      <option>Male</option>
                  </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="price">Price Indication (non-binding)</label>
                  <input type="text" class="form-control" id="price" name="price" value="1000000" required>
              </div>
          </div>
          <div class="form-group">
              <label for="server">Server Address</label>
              <input type="text" class="form-control" id="server" name="server"
                     value="http://localhost:8080/engine-rest/process-definition/key/Autos/start"
                     required>
          </div>
          <button type="submit" class="btn btn-primary">Apply</button>
      </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
     $("#manufacturer").change(function() {
         var manufacturer = $(this).val();
         $("#cartype option").each(function(item) {
             if ($(this).data("manufacturer") != manufacturer) {
                 $(this).hide();
             } else {
                 $(this).show();
             }
         });
         $("#cartype").val($("#cartype option:visible:first").val());
     });
     $(function () {
         $("#manufacturer").change();
     });
    </script>

  </body>
</html>
